body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(#fafafa, #808080);
}

div.calendario {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, auto);
}

section {
    border: solid 2px #fff;
    border-radius: 2%;
    box-shadow: #900000;
    background: #fafafa;
    width: 80%;
    height: auto;
    margin: 0 auto 0.5em auto;
    padding: 0 0.8em;
    box-shadow: -20px 0 8px -6px #999;
}

div.mes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, auto);
    padding-bottom: 1em;
}

div.dia-jan,
div.dia-fev,
div.dia-mar,
div.dia-abr,
div.dia-mai,
div.dia-jun,
div.dia-jul,
div.dia-ago,
div.dia-set,
div.dia-out,
div.dia-nov,
div.dia-dez {
    display: flex;
    float: left;
    flex-wrap: wrap;
    margin: 0.2em auto;
    text-align: center;    
}

strong.semana {
    display: flex;
    float: left;
    flex-wrap: wrap;
    margin: 0.2em auto;
    text-align: center;    
}

h1 {
    text-align: center;
    color: #900000;
    font-size: 2.5em;
}

h5 {
    text-align: center;
    color: #500000;
    font-size: 1em;
    margin: 1em auto;
}

.destaque {
    color: #900000;
    font-weight: bolder;
} 
