body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#interacao-usuario div {
    width: 70%;
    height: 350px;
}

div {
    width: 80%;
    height: 200px;
    margin: 2% auto;
    padding: 2em;
    text-align: center;
    background: #f0f0f0;
    border: solid 0.5px #000;
}

div.texto-puro,
div.calcula-consumo {
    text-align: justify;
}

div.sorteia-numero {
    margin-left: 57%;
}

div.anos-copa, 
div.contagem, div.quadro-padrao {
    height: auto;
}

div.copas {
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    border: none;
}

div.antecede-copas {
    width: 90%;
    padding: 1em;
    height: auto;
    border: none;
}

div.numeros-pares, div.quadroMenor-padrao {
    width: 100%;
    padding: 0;
    height: auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: #500000;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    display: inline;
}

h4 {
    margin-left: 2em;
}

big {
    padding: 0 2em;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    display: inline;
}

p {
    padding: 0 2em;
    color: #500000;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    display: inline;
}

;
strong {
    font-weight: bolder;
}

strong.destaque {
    font-size: 1.5em;
    color: #900000;
}
