body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
div {
    width: 80%;
    height: 200px;
    margin: 2% auto;
    padding: 2em;
    text-align: center;
    background: #f0f0f0;
    border: solid 0.5px #000;
}
#interacao-usuario div {
    width: 70%;
    height: 350px;
}
div.texto-puro, 
div.calcula-consumo {
    text-align: justify;
}
h1 {
    color: #500000;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
h4 {
    margin-left: 1em;
};
strong {
    font-weight: bolder;
}
strong.destaque {
    font-size: 1.5em;
    color: #900000;
}
